########## General Files
*.apk
*.ap_
*.dex
*.class
*.class
*.jar
*.war
*.ear
*.gitignore
*.gitignore.swp
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib*.launch

########## Special Files
local.properties
proguard-project.txt

##########Visible Folders
bin/
gen/
abc/
bin/**
tmp/**
tmp/**/*

##########Hidden Folders
.classpath
.project
.settings/
.classpath
.settings/
.loadpath
.externalToolBuilders/
.cproject
.buildpath
.project
.metadata


